.project-dialog-content {
    height: 100%;
    width: 90%;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.8); */
}

.project-image {
    width: 80px;
    height: 100px;
    object-fit: cover;
}

.project-details {
    padding: 10px;
}

.project-status {
    font-family: 'Comfortaa-Bold';
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--primary-error-color);
}

.profile-details {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 32px;
    background-color: var(--secondary-theme-color);
}

.profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.project-season {
    font-family: 'Comfortaa-Bold';
    font-size: 1.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--senary-grey-color);
    padding: 0px 15px;
    text-transform: capitalize;
}

.project-ratings {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}

.project-rating-number {
    font-family: 'Comfortaa-Light';
    font-size: 1.8rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--quinary-lite-grey-color);
    padding: 0px 5px;
}

.follow {
    font-family: 'Comfortaa-Bold';
    font-size: 1.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--secondary-blue-color);
    text-transform: capitalize;
}

.calendar {
    color: var(--octonary-grey-color);
    font-size: 30px;
}

.date {
    font-family: 'Comfortaa-Bold';
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--septanary-lite-grey-color);
}

.divider {
    border: 1px solid var(--nonary-theme-color);
}

.description {
    font-family: 'Comfortaa-Bold';
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white-color);
    text-transform: capitalize
}

.description-details {
    font-family: 'Comfortaa-Light';
    font-size: 1.8rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--quaternary-grey-color);
    word-spacing: 1px;
}

.description-header {
    color: var(--secondary-blue-color);
    text-transform: capitalize;
    padding-right: 5px;
}

.project-type {
    font-family: 'Comfortaa-Light';
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--octonary-grey-color);
}

.project-status {
    font-family: 'Comfortaa-Light';
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--secondary-blue-color);
}

.artist {
    min-height: 50px;
    max-height: 200px;
    overflow: scroll;
    padding-bottom: 20px;
}

.artist-type {
    background-color: var(--secondary-theme-color);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 14px;
}

.artist-type-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.artist-profession {
    font-family: 'Comfortaa-Bold';
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--quaternary-blue-color);
}

.artist-count {
    background-color: var(--tertiary-theme-color);
    font-family: 'Comfortaa-Light';
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--nonary-grey-color);
    padding: 10px 20px;
    border-radius: 12px;
}

.next {
    width: 50%;
    border-radius: 18px;
    background-image: linear-gradient(288deg, #4fd8cc, #5c88ff);
    font-family: "Comfortaa-Regular";
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-color);
    padding: 13px;
    height: 40px;
}

@media screen and (max-width:440px) {
    .profile-details {
        flex-direction: column;
    }

    .profile-image {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }

    .project-season {
        font-size: 1.4rem;
        padding: 0px 15px;
    }

    .follow {
        font-size: 1.4rem;
    }

    .project-ratings {
        padding: 0px 10px;
    }

    .artist {
        max-height: 115px;
    }

    .next {
        width: 60%;
    }

    .artist-profession,
    .artist-count {
        font-size: 1.4rem;
    }

    .next {
        font-size: 1.2rem;
    }
}