.profile-container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.cover-image-container {
    position: relative;
    background-color: var(--white-color);
    height: 350px;
}

.cover-image-container::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 29%, rgba(0, 0, 0, 0.8) 100%);
}

.cover-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 400px;
}

.profile-details {
    padding: 30px 0px;
    column-gap: 20px;
    height: 160px;
}

.profile-avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
}

.profile-photo {
    width: 100%;
    aspect-ratio: 1/1;
    border: 3px solid var(--white-color);
    border-radius: 50%;
    object-fit: cover;
}

.default-profile-photo {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-family: "Comfortaa-Bold";
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.3;
    color: var(--quinary-blue-color);
}

.user-name {
    font-family: "Comfortaa-Bold";
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.95;
    color: var(--octonary-grey-color);
}

.follower-count span {
    font-family: "Comfortaa-Regular";
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--quinary-lite-grey-color);
}

.follower-count {
    font-family: "Comfortaa-Regular";
    font-size: 1.8rem;
    font-weight: 300;
    color: #696e7d;
}

.skill-container {
    height: 40px;
    border-radius: 15px;
    padding: 0px 20px;
    background-color: #202123;
    font-family: "Comfortaa-Regular";
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #5e626c;
}


.follow {
    width: 150px;
    border-radius: 18px;
    background-image: linear-gradient(288deg, #4fd8cc, #5c88ff);
    font-family: "Comfortaa-Regular";
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: var(--white-color);
    padding: 13px;
    height: 50px;
}

.message,
.message:focus,
.message:hover {
    width: 150px;
    padding: 13px;
    height: 50px;
    border-radius: 18px;
    border: solid 1px var(--secondary-blue-color);
    color: var(--secondary-blue-color);
    font-family: "Comfortaa-Regular";
    font-size: 1.6rem;
    font-weight: bold;
}

.posts-container {
    background-color: var(--secondary-theme-color);
    margin-bottom: 15px;
    position: relative;
    width: 550px;
    margin: auto;
}

@media screen and (min-width:300px) and (max-width:600px) {
    .profile-avatar-container {
        width: 120px;
        position: absolute;
        top: -74px;
    }
}

@media screen and (min-width:600px) and (max-width:900px) {
    .profile-avatar-container {
        width: 146px;
        position: absolute;
        top: -74px;
    }
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .profile-avatar-container {
        width: 160px;
    }
}