.media-galley-container {
    width: 80%;
    height: 100%;
    margin: auto;
    row-gap: 24px;
    display: flex;
    flex-direction: column;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    max-height: 200px;
    width: 100%;
    width: 100%;
}

.audio-container {
    width: 100%;
    height: 140px;
    background-color: var(--secondary-theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    width: 100%;
    height: 150px;
}

.medias-container {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    flex-direction: column;
    row-gap: 24px;
}

.media-header {
    color: var(--octonary-blue-color);
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Comfortaa-Bold";
}

.image-list-mobile-view {
    display: none;
}

@media only screen and (max-width:840px) {
    .media-galley-container {
        width: 100%;
    }

    .medias-container {
        width: 95%;
        margin: auto;
    }

    .image-list-mobile-view {
        display: block;
    }
}