.add-details-container {
    width: 1200px;
    margin: auto;
    height: 100%;
}

.sub-container {
    height: 95%;
    background-color: var(--secondary-theme-color);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.reorder-media-container {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    max-height: calc(100% - 50px);
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}

.media-card {
    background-color: var(--quaternary-theme-color);
    height: 126px;
    align-items: center;
    display: flex;
    width: 100%;
}

.audio-container {
    width: 75%;
    margin-left: 12px;
    background-color: var(--primary-theme-color);
    border: 2px solid var(--septanary-theme-color);
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    padding: 10px;
}

.image-container {
    width: 100px;
    height: 100px;
    margin-left: 17px;
}

.select-color {
    font-size: 1.4rem;
    color: var(--octonary-grey-color)
}

.color-wheel {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid var(--white-color)
}

.add-more-button,
.add-more-button:hover {
    padding: 10px;
    height: 45px;
    width: 200px;
    border-radius: 18px;
    border: solid 1.1px var(--tertiary-grey-color);
    background-color: var(--tertiary-theme-color);
    color: var(--white-color);
    font-family: "Comfortaa-regular";
    font-size: 16px;
    font-weight: 300;
}

.post-grid-container {
    height: calc(100% - 120px);
    position: relative;
}

.post-button-container {
    height: 50px;
    padding: 30px 0px 30px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.media-container {
    height: 95%;
    width: 85%;
    max-width: 85%;
    max-height: 95%;
    overflow-y: auto;
    margin-top: 0px;
}

.media-player-container {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

.audio-player-container {
    margin-bottom: 4em;
    width: 100%;
    min-height: 150px;
    background-color: var(--quaternary-theme-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.clear-all,
.clear-all:hover {
    height: 45px;
    width: 150px;
    padding: 13px;
    border-radius: 18px;
    border: solid 2px var(--primary-error-color);
    font-family: "Comfortaa-Regular";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--primary-error-color);
}

.cancel {
    fill: var(--primary-error-color);
    font-size: 25px;
    cursor: pointer;
}

.next {
    height: 45px;
    width: 150px;
    border-radius: 18px;
    background-image: linear-gradient(288deg, var(--primary-success-color), var(--secondary-blue-color));
    font-family: "Comfortaa-Regular";
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-color);
    padding: 13px;
}

.re-order {
    display: none;
}

.add-more {
    display: none;
}

.preview-post-mobile-container {
    display: none;
}

.video-container {
    width: 40%;
    margin-left: 10px;
}

.uploaded-image {
    height: 100%;
    width: 100%;
}

.reorder {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--octonary-grey-color)
}

.discard {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    color: var(--primary-error-color);
    cursor: pointer;
}

.save {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--octonary-grey-color);
    cursor: pointer;
}

.confirmation-description {
    color: var(--octanary-lite-grey-color);
    font-size: 1.4rem;
    font-family: "Comfortaa-Regular";
}

.confirmation-header {
    color: var(--octanary-lite-grey-color);
    font-size: 1.6rem;
    font-family: "Comfortaa-Regular";
}

.reorder {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--octonary-grey-color)
}

.discard {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    color: var(--primary-error-color);
    cursor: pointer;
}

.save {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--octonary-grey-color);
    cursor: pointer;
}

.confirmation-description {
    color: var(--octanary-lite-grey-color);
    font-size: 1.4rem;
    font-family: "Comfortaa-Regular";
}

.confirmation-header {
    color: var(--octanary-lite-grey-color);
    font-size: 1.6rem;
    font-family: "Comfortaa-Regular";
}

.reorder {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--octonary-grey-color)
}

.discard {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    color: var(--primary-error-color);
    cursor: pointer;
}

.save {
    font-family: "Comfortaa-Bold";
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--octonary-grey-color);
    cursor: pointer;
}

.confirmation-description {
    color: var(--octanary-lite-grey-color);
    font-size: 1.4rem;
    font-family: "Comfortaa-Regular";
}

.confirmation-header {
    color: var(--octanary-lite-grey-color);
    font-size: 1.6rem;
    font-family: "Comfortaa-Regular";
}

@media (min-width:320px) and (max-width:840px) {
    .add-details-container {
        width: 100%;
        margin: auto;
        height: 100%;
    }

    .color-selection-bar {
        width: 100%;
        height: 50px;
        background-color: var(--senary-theme-color);
        display: flex
    }

    .preview-post-mobile-container {
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .textfileds-container {
        height: 232px;
        width: 80%;
    }

    .posts-container {
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }

    .posts-color-picker-container {
        height: calc(100% - 313px);
        margin: 15px 0px 15px 0px;
        width: 100%;
    }

    .clear-all {
        width: auto;
        height: auto;
        font-family: "Comfortaa-Regular";
        font-size: 1.4rem;
        color: var(--octonary-grey-color);
        border: none;
        background: none;
        padding: 0px;
    }

    .next {
        width: auto;
        height: auto;
        font-family: "Comfortaa-Regular";
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--secondary-blue-color);
        border: none;
        background: none;
        padding: 0px;
    }

    .re-order {
        width: auto;
        height: auto;
        font-family: "Comfortaa-Regular";
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--octonary-grey-color);
        border: none;
        background: none;
        padding: 0px;
        display: block
    }

    .add-more-button,
    .add-more-button:hover {
        display: none;
    }

    .add-more,
    .add-more:hover {
        padding: 13px;
        height: 40px;
        width: 100%;
        border-radius: 18px;
        border: solid 2px var(--tertiary-grey-color);
        background-color: var(--tertiary-theme-color);
        color: var(--white-color);
        font-family: "Comfortaa-regular";
        font-size: 16px;
        font-weight: 300;
        display: flex;
    }

    .post-button-container {
        height: 40px;
        padding: 10px 0px 10px 0px;
        margin: auto;
    }

    .media-container {
        height: 60%;
        width: 85%;
        max-width: 85%;
        max-height: 60%;
        overflow-y: auto;
        margin-top: 23px;
    }

    .media-player-container {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .audio-player-container {
        margin-bottom: 10px;
        width: calc(100% - 30px);
        min-height: 150px;
        background-color: var(--quaternary-theme-color);
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .audio-container {
        width: 70%;
        margin-left: 12px;
        background: none;
        border: 0px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;
        padding: 10px;
    }
}

@media (min-width:840px) and (max-width:1400px) {
    .add-details-container {
        width: 90%;
        margin: auto;
        height: 100%;
    }
}

@media (min-width:640px) and (max-width:840px) {
    .media-card {
        background-color: var(--quaternary-theme-color);
        width: 100%;
        height: 126px;
        align-items: center;
        display: flex;
    }
}