.content-container {
    padding: 10px;
    width: 100%;
}

.notifications {
    color: var(--white-color);
    font-family: 'Comfortaa-Bold';
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    justify-content: flex-start;
}

.tab-switcher {
    padding: 0px 10px;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.image {
    object-fit: contain;
    width: 150px;
    height: 150px;
}

.tab-content-text {
    font-family: 'Comfortaa-Light';
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #7a7e88;
}

.notification-time {
    display: flex;
    justify-content: flex-start;
    font-family: 'Comfortaa-Bold';
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--senary-grey-color);
}

.notification-content-un-read {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: var(--quinary-theme-color);
    border-radius: 12px;
}

.notification-content-read {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: var(--secondary-theme-color);
    border-radius: 12px;
}

.profile-image {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profileName {
    font-family: 'Comfortaa-Light';
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white-color);
}

.notification {
    font-family: 'Comfortaa-Light';
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--octonary-grey-color);
    padding: 0px 10px;
}

.notifiedTime {
    font-family: 'Comfortaa-Light';
    font-size: 1.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--primary-grey-color);
    display: flex;
    padding: 10px 0px;
}

.tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.mui-button {
    font-family: 'Comfortaa-Bold';
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-color);
    background: linear-gradient(284deg, #4fd8cc 10%, #5c88ff);
    padding: 14px;
    border-radius: 16px;
    text-transform: capitalize;
}

.link {
    text-decoration: none;
}