.persocifiaton-container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personification-card-container {
  background-color: #0d0d0d;
  border-radius: 45.5px;
  height: 90%;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.card-container-heading {
  color: #a8aebc;
  font-family: 'Comfortaa-Regular';
  font-size: 22px;
  margin: 0;
  width: 100%;
  padding: 5px 25px;
  position: absolute;
  height: 80%;
}

.activitycard {
  height: 190px;
  border-radius: 11.7px;
  margin: 7px 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-image {
  width: 99%;
  height: 99%;
  border-radius: 10px;
  position: relative;
}

.card-image-selected {
  width: 99%;
  height: 99%;
  border-radius: 10px;
  position: relative;
  border: solid 5px #5c88ff;
}

.check-box {
  position: absolute;
  z-index: 1;
  padding: 0px;
  margin: 0px;
}

.activity-name-container {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.activity-name {
  position: relative;
  font-size: 2.27rem;
  font-family: 'Comfortaa-Regular';
  font-weight: 500;
  top: 160px;
  color: #fff;
}

.shadow {
  background: linear-gradient(to bottom,
      rgba(251, 251, 251, 0) -28%,
      rgba(156, 156, 156, 0.21) 19%,
      rgba(51, 51, 51, 0.74) 60%,
      #000 81%);
  background-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  top: -2px;
  border-radius: 10px;
}

.shadow-selected {
  background: linear-gradient(to bottom,
      rgba(251, 251, 251, 0) -28%,
      rgba(156, 156, 156, 0.21) 19%,
      rgba(51, 51, 51, 0.74) 60%,
      #000 81%);
  background-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  top: 3px;
  border-radius: 5px;
}

.checkbox-icon {
  width: 27px;
  height: 27px;
  padding: 0px;
  margin: 0px;
}

.check-box {
  left: 0;
}

.lets-get-start-button {
  background-image: linear-gradient(281deg, #4fd8cc, #5c88ff);
  border-radius: 20px !important;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 100px;
  position: fixed;
  bottom: 0;
  top: 80%;
  height: 40px;
  z-index: 1;
  cursor: pointer;
}

.scroll-button {
  position: fixed;
  top: 70%;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.swip-down-button {
  display: flex;
  justify-content: center;
}

.card-holder {
  overflow-y: scroll;
  height: 90%;
  margin-top: 51px;
  margin-bottom: 60px;
}

@media screen and (max-width: 600px) {
  .card-container-heading {
    text-align: center;
    padding: 0;
    font-size: 20px;
  }

  .card-holder {
    height: 90% !important;
    padding-left: 7%;
  }

  .personification-card-container {
    padding: 1px;
  }

  .activitycard {
    margin: 5px 5px;
    padding: 0px;
    height: 150px;
  }

  .activity-name {
    top: 120px;
  }

  .card-image-selected {
    height: 99%;
    width: 99%;
    border: solid 3px #5c88ff;
  }

  .lets-get-start-button {
    padding: 20px 60px;
  }

  .shadow {
    background: linear-gradient(to bottom,
        rgba(251, 251, 251, 0) -28%,
        rgba(156, 156, 156, 0.21) 19%,
        rgba(51, 51, 51, 0.74) 60%,
        #000 81%);
    background-blend-mode: multiply;
    color: #fff;
    width: 99%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    top: -1px;
    border-radius: 10px;
  }

  .shadow-selected {
    background: linear-gradient(to bottom,
        rgba(251, 251, 251, 0) -28%,
        rgba(156, 156, 156, 0.21) 19%,
        rgba(51, 51, 51, 0.74) 60%,
        #000 81%);
    background-blend-mode: multiply;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    top: 1px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 605px) and (max-width: 1024px) {
  .activitycard {
    margin: 7px 17px;
  }

  .shadow {
    background: linear-gradient(to bottom,
        rgba(251, 251, 251, 0) -28%,
        rgba(156, 156, 156, 0.21) 19%,
        rgba(51, 51, 51, 0.74) 60%,
        #000 81%);
    background-blend-mode: multiply;
    color: #fff;
    width: 99%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    top: -1px;
    border-radius: 8px;
  }

  .card-image-selected {
    width: 99%;
    height: 99%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .activitycard {
    height: 190px;
  }

  .activity-name {
    top: 150px;
  }

  .shadow {
    background: linear-gradient(to bottom,
        rgba(251, 251, 251, 0) -28%,
        rgba(156, 156, 156, 0.21) 19%,
        rgba(51, 51, 51, 0.74) 60%,
        #000 81%);
    background-blend-mode: multiply;
    color: #fff;
    width: 99%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    top: 1px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
  .card-container-heading {
    padding: 20px 42px;
    font-size: 60px;
  }

  .activitycard {
    height: 350px;
  }

  .lets-get-start-button {
    padding: 50px 200px;
    font-size: 45px;
    display: flex;
    align-items: center;
    border-radius: 30px !important;
  }

  .activity-name {
    font-size: 2.27rem;
    top: 280px;
    font-family: 'Comfortaa-Regular';
  }

  .scroll-button {
    width: 80px;
  }

  .card-holder {
    margin-top: 90px !important;
    margin-bottom: 60px;
  }
}